body {
	margin: 175px 0 0 0;
	font-family: 'Indie Flower', cursive;
	background-color: Black;
}

/* ZAWARTOŚĆ STRONY */

#content {
	background-color: Black;
}

/* NAGŁÓWEK */

#header {
	width: 70%;
	height: 125px;
	background-color: Black;
	margin: 0 15% 0 15%;
	position: fixed;
	top: 0;
	color: White;
}

#left {
	margin: 0;
	float: left;
	width: 30%;
	height: 100px;
}

#header h1 {
	margin: 0;
	padding: 20px 0 0 10px;
}

#header h3 {
	margin: 0;
	padding: 0 0 0 10px;
}

/* LOGO ZESPOŁU */

#right {
	margin: 0;
	height: 100px;
	width: 70%;
	float: right;
}

.logo {
	height: 100px;
	width: 100px;
	float: left;
	margin: 0;
	background-image: url(images/carrot.png);
}

/* PANEL NAWIGACYJNY */

#nav {
	width: 70%;
	background-color: Black;
	margin: 0 15% 0 15%;
	position: fixed;
	top: 125px;
	box-shadow: 0px 10px 5px 5px black;
	font-size: 14pt;
}
#nav ul {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

#nav li {
	float: left;
	width: 20%;
}

#nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 25px;
  border-left-style: solid;
  border-width: 1px;
  border-color: White;
}

#lasta {
	border-right-style: solid;
	border-width: 1px;
	border-color: White;
}

#nav li a:hover {
	background-color: #FFF;
	color: #111;
}

/* TREŚCI STRONY SĄ WEWNĄTRZ WRAPPERA*/

#wrapper {
	clear: both;
	width: 70%;
	margin: 0 15% 0 15%;
}

.mySlides {
	display:none;
}

.article {
	width: 90%;
	overflow: auto;
	border-style: solid;
	border-color: White;
	border-width: 1px;
	margin: 50px 5% 0 5%;
	padding-bottom: 30px;
	color: White;
}

.article h2{
	padding: 30px 30px 0 0;
	margin: 0 20px 0 20px;
	font-size: 22pt;
	border-bottom-style: solid;
	border-width: 1px;
}

.article p{
	margin: 0 20px 0 20px;
	padding: 20px 0 10px 0;
	font-family: 'Open Sans', sans-serif;
	border-bottom-style: solid;
	border-width: 1px;
	text-align: justify;
}

.space {
	height: 50px;
	clear: both;
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1px;
	margin: 30px 20px 0 20px;
	overflow: visible;
}

.cddisc {
	width: 40%;
	height: 400px;
	background-image: url(images/cddisc.png);
	margin: 30px 20px 30px 20px;
	float: left;
}

.cddescription {
	width: 50%;
	height: 400px;
	margin: 30px 20px 30px 20px;
	float: right;
	font-family: 'Open Sans', sans-serif;
}

footer {
	clear: both;
	width: 100%;
	margin: 10px 0 0 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top:35px;
  	padding-bottom:35px;
}
footer p {
	margin: 0 auto;
}